.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  background-color: white;
  color: rgb(0, 136, 255);
  width: 135px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);

  .p {
    color: rgb(0, 136, 255);
    margin: 0 10px;
  }
}

.border {
  border-bottom: 1px solid rgb(0, 136, 255);
}
