.container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .gameContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);

    .play {
      font-size: 14px;
      background-color: rgba(185, 219, 242, 0.883);
      width: 280px;
      padding: 5% 0;
      display: flex;
      justify-content: center;
      /* color: rgb(58, 58, 103);
      padding: 5% 90px; */
      border-radius: 5px;
    }
  }

  .footer {
    background-color: #f3f3f3;
    padding: 10px;
    margin-left: 20px;

    .playConatiner {
      display: flex;
      flex-direction: row;
      gap: 10px;
      margin-bottom: 15px;
    }

    .grey {
      background-color: grey;
      color: white;
      padding: 2px;
    }
  }
}
